/* app list begin */
#app-list {
  text-align: left;
  /* ID */
  /* Name */
  /* Desc */
  /* Details */
  /* API List */ }
  #app-list table {
    width: 1200px;
    text-align: left; }
  #app-list table tr {
    height: 30px; }
  #app-list table tr th:first-child {
    width: 80px; }
  #app-list table tr th:nth-child(2) {
    width: 200px; }
  #app-list table tr th:nth-child(3) {
    width: 500px; }
  #app-list table tr th:nth-child(4) {
    width: 120px; }
  #app-list table tr th:nth-child(5) {
    width: 120px; }

/* app list end */
/* api list begin */
#api-list {
  text-align: left;
  /* ID */
  /* Name */
  /* Method */
  /* Validate */
  /* Forward */
  /* Path */
  /* Desc */
  /* Details */
  /* Schema */
  /* MockCfg */ }
  #api-list .operations a {
    margin: 0 30px 0 0; }
  #api-list table {
    width: 1400px;
    text-align: left; }
  #api-list table tr {
    height: 30px; }
  #api-list table tr th:first-child {
    width: 70px; }
  #api-list table tr th:nth-child(2) {
    width: 150px; }
  #api-list table tr th:nth-child(3) {
    width: 110px; }
  #api-list table tr th:nth-child(4) {
    width: 110px; }
  #api-list table tr th:nth-child(5) {
    width: 110px; }
  #api-list table tr th:nth-child(6) {
    width: 200px; }
  #api-list table tr th:nth-child(7) {
    width: 300px; }
  #api-list table tr th:nth-child(8) {
    width: 120px; }
  #api-list table tr th:nth-child(9) {
    width: 120px; }
  #api-list table tr th:nth-child(10) {
    width: 120px; }

/* api list end */
#div_apiCfg {
  text-align: left;
  margin: 30px 0 0 40px; }
  #div_apiCfg #fm_apiCfg {
    margin: 20px 0 0 0; }
    #div_apiCfg #fm_apiCfg input {
      height: 32px;
      width: 500px; }
    #div_apiCfg #fm_apiCfg [type="checkbox"] {
      height: 30px;
      width: 30px;
      margin: 0 0 0 20px; }
    #div_apiCfg #fm_apiCfg #ipt_description {
      height: 120px;
      width: 500px; }
    #div_apiCfg #fm_apiCfg #btn_submit {
      position: fixed;
      top: 700px;
      left: 1200px;
      width: 120px;
      height: 50px;
      background: blue;
      color: white; }
    #div_apiCfg #fm_apiCfg #btn_discard {
      position: fixed;
      top: 800px;
      left: 1200px;
      width: 120px;
      height: 50px;
      background: #7a0505;
      color: white; }
#div_apiSchema {
  text-align: left;
  margin: 30px 0 0 40px; }
  #div_apiSchema #sp_method {
    background-color: blue;
    color: white;
    font-size: 32;
    margin-right: 20px; }
  #div_apiSchema #sp_path {
    background-color: #b9b8b8;
    font-size: 30; }
  #div_apiSchema #pn_schema {
    margin: 80px 0 80px 0px;
    text-align: left;
    width: 100%; }
  #div_apiSchema #pn_schema input {
    height: 28px;
    margin: 5px; }
  #div_apiSchema #pn_schema label {
    display: inline-block;
    width: 170px; }
  #div_apiSchema #pn_schema input[type="checkbox"] {
    width: 20px;
    height: 20px; }
  #div_apiSchema #pn_schema .div-key {
    width: 80%;
    border: 1px dashed #000;
    margin: 5px 0 0 20px;
    padding: 5px; }
  #div_apiSchema #pn_schema textarea {
    width: 800px;
    height: 300px; }
  #div_apiSchema #btn_submit {
    position: fixed;
    top: 640px;
    left: 1440px;
    width: 120px;
    height: 50px;
    background: blue;
    color: white; }
#div_apiMcCfg {
  margin: 30px 0 0 40px; }
  #div_apiMcCfg .vice-header {
    text-align: left;
    width: 50%; }
  #div_apiMcCfg .pading-right {
    text-align: right; }
  #div_apiMcCfg #pn_cfg {
    text-align: left;
    margin: 20px 0 0 10px; }
    #div_apiMcCfg #pn_cfg #sp_method {
      background-color: blue;
      color: white;
      font-size: 32;
      margin-right: 20px; }
    #div_apiMcCfg #pn_cfg #sp_path {
      background-color: #b9b8b8;
      font-size: 30; }
    #div_apiMcCfg #pn_cfg textarea {
      width: 500px;
      height: 120px; }
    #div_apiMcCfg #pn_cfg #pn_details {
      margin: 80px 0 80px 0px;
      text-align: left;
      width: 100%; }
    #div_apiMcCfg #pn_cfg #pn_details input {
      height: 28px;
      margin: 5px; }
    #div_apiMcCfg #pn_cfg #pn_details label {
      display: inline-block;
      width: 170px; }
    #div_apiMcCfg #pn_cfg #pn_details input[type="checkbox"] {
      width: 20px;
      height: 20px; }
    #div_apiMcCfg #pn_cfg #pn_details .div-key {
      width: 80%;
      border: 1px dashed #000;
      margin: 5px 0 0 20px;
      padding: 5px; }
    #div_apiMcCfg #pn_cfg #pn_details textarea {
      width: 800px;
      height: 300px; }
    #div_apiMcCfg #pn_cfg #btn_submit {
      position: fixed;
      top: 640px;
      left: 1440px;
      width: 120px;
      height: 50px;
      background: blue;
      color: white; }
#div_appCfg {
  text-align: left;
  margin: 30px 0 0 40px; }
  #div_appCfg #fm_appCfg {
    margin: 20px 0 0 0; }
    #div_appCfg #fm_appCfg input {
      height: 28px;
      width: 500px; }
    #div_appCfg #fm_appCfg input[type="button"] {
      width: 70px; }
    #div_appCfg #fm_appCfg #ipt_desc {
      height: 120px;
      width: 500px; }
    #div_appCfg #fm_appCfg #btn_submit {
      position: fixed;
      top: 700px;
      left: 1200px;
      width: 120px;
      height: 50px;
      background: blue;
      color: white; }
    #div_appCfg #fm_appCfg #btn_discard {
      position: fixed;
      top: 800px;
      left: 1200px;
      width: 120px;
      height: 50px;
      background: #7a0505;
      color: white; }

/*# sourceMappingURL=style_b6ea217d.css.map*/