/* Base Application Styles */

html {
  width: 100%;
  height: 100%;
  background-color: white;

  body {
    width: 90%;
    height: 100%;
    margin: 40px auto 30px auto;

    .input-row {
      width: 60%;
      margin: 0 0 5px 0;
    }

    .input-row-half {
      width: 35%;
      margin: 0 5px 5px 0;
    }

    .ck-row {
      margin: 0 0 5px 0;
    }

    .div-inline {
      display: inline;
    }

    .ipt-inline {
      width: 80px;
    }
  }

}

.layout-header {
  height: 80px;
  width: 100%;
  background-color: chocolate;
  vertical-align: middle;
  margin: 0 auto;
}
