.details-tab {
  .sp-inline-form {
    margin: 0 0 0 80px;
  }
  
  .input-key {
    width: 80px !important;
  }
}

.input-row {
  width: 70%;
}

.dropdown-proxy {
  width: 200px;
}

.margin-bottom {
  margin-bottom: 5px;
}
