/* Base Application Styles */

html {
  width: 100%;
  height: 100%;
  background-color: white;

  body {
    width: 90%;
    height: 100%;
    margin: 40px auto 30px auto;
  }

}

.layout-header-container {
  height: 80px;
  width: 100%;

  background-color: rgb(189, 144, 47);
  margin: 0 auto;

  padding: 20px 5px;
}

.layout-header {
  display: inline-block;

  margin: 0 auto;
  vertical-align: middle;

  font-size: 28px;
}

.btn-logout {
  float: right;
}
