/* Base Application Styles */
@font-face {
  font-family: "iconfont";
  src: url('../fonts/icons/iconfont.eot') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/icons/iconfont.woff') format('woff'),
  url('../fonts/icons/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/icons/iconfont.svg') format('svg'); /* iOS 4.1- */
}

html {
  width: 100%;
  height: 100%;
  background-color: white;

  body {
    width: 90%;
    height: 100%;
    margin: 40px auto 30px auto;
  }

}

.layout-header {
  height: 80px;
  width: 100%;
  background-color: chocolate;
  vertical-align: middle;
  margin: 0 auto;
}
