
/* api list begin */
#api-list {
    text-align: left;
  
    .operations a {
      margin: 0 30px 0 0;
    }

    table {
      width: 1400px;
      text-align: left;
    }
  
    table tr {
      height: 30px;
    }
  
    /* ID */
    table tr th:first-child {
      width: 70px;
    }
    
    /* Name */
    table tr th:nth-child(2) {
      width: 150px;
    }
  
    /* Method */
    table tr th:nth-child(3) {
      width: 110px;
    }
  
    /* Validate */
    table tr th:nth-child(4) {
      width: 110px;
    }
  
    /* Forward */
    table tr th:nth-child(5) {
      width: 110px;
    }
  
    /* Path */
    table tr th:nth-child(6) {
      width: 200px;
    }
  
    /* Desc */
    table tr th:nth-child(7) {
      width: 300px;
    }
  
    /* Details */
    table tr th:nth-child(8) {
      width: 120px;
    }
  
    /* Schema */
    table tr th:nth-child(9) {
      width: 120px;
    }
  
    /* MockCfg */
    table tr th:nth-child(10) {
      width: 120px;
    }
  }
  /* api list end */